.row {
    display: grid;
    grid-template-columns: 1fr 2fr 8fr 1fr;
}

.lineWrap {
    display: flex;
    flex-direction: column;
    grid-column: 2;
}

.line {
    width: 3px;
    background: rgb(var(--gray-rgb));
    border-radius: 3px;
}

.lineBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1;
}

.skillsWrap {
    grid-column: 3;
}

.skillsWord {
    margin-bottom: 1.875rem;
    width: 100%;
}

.skillsWord:nth-child(1) svg {
    fill: #FFFFFF;
    opacity: 0.3;
}
.skillsWord:nth-child(2) svg {
    fill: rgb(var(--red-rgb));
    opacity: 0.54;
}
.skillsWord:nth-child(3) svg {
    fill: #FFFFFF;
}

.arrow {
    width: 80px;
}

@media (max-width: 1155px) {
    .arrow {
        width: 70px;
    }

    .line {
        width: 2px;
    }
}

@media (max-width: 984px) {
    .row {
        grid-template-columns: 2fr 1fr 8fr;
    }

    .lineWrap {
        grid-column: 1;
    }
}

@media (max-width: 600px) {
    .arrow {
        width: 50px;
    }

    .line {
        width: 1px;
    }
}