.list {
    --list-gap: 25px;
    --icon-size: 24px;
    --link-size: 50px;

    display: flex;
    align-item: center;
    margin-right: calc(var(--list-gap) * -1);
}

.item {
    padding-right: var(--list-gap);
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--link-size);
    height: var(--link-size);
    border: 1px solid rgb(var(--gray-rgb));
    border-radius: 50%;
    transition: .1s ease-in-out;
}

.link svg {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: rgb(var(--gray-rgb));
    transition: fill .1s ease-in-out;
}

.item.instagram svg {
    fill: transparent;
    stroke: rgb(var(--gray-rgb));
    transition: stroke .1s ease-in-out;
}


@media (min-width: 984px) {
    .item.instagram .link:hover svg {
        stroke: #C13584;
    }
    .item.instagram .link:hover {
        border-color: #C13584;
        box-shadow: 0 0 20px #C13584;
    }
    
    .item.telegram .link:hover svg {
        fill: #2AABEE;
    }
    .item.telegram .link:hover {
        border-color: #2AABEE;
        box-shadow: 0 0 20px #2AABEE;
    }
    
    .item.whatsapp .link:hover svg {
        fill: #28D146;
    }
    .item.whatsapp .link:hover {
        border-color: #28D146;
        box-shadow: 0 0 20px #28D146;
    }
    
    .item.github .link:hover svg {
        fill: #6e5494;
    }
    .item.github .link:hover {
        border-color: #6e5494;
        box-shadow: 0 0 20px #6e5494;
    }
    
    .item.linkedin .link:hover svg {
        fill: #0A66C2;
    }
    .item.linkedin .link:hover {
        border-color: #0A66C2;
        box-shadow: 0 0 20px #0A66C2;
    }
}


@media (max-width: 1155px) {
    .list {
        --list-gap: 20px;
    }
}

@media (max-width: 984px) {
    .list {
        --icon-size: 20px;
        --link-size: 45px;
    }
}