.title {
    width: min-content;
    padding-top: 12.4vh;
    color: rgb(var(--red-rgb));
}

.title > span > span {
    display: inline-flex;
    flex-direction: column;
}

.wrap .img {
    position: absolute;
    top: 25vh;
    z-index: -1;
    width: 642px;
}

.wrap {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1155px) {
    .title {
        padding-top: 0;
    }

    .wrap .img {
        top: 20vh;
        width: 54vw;
    }
}

@media (max-width: 984px) {
    .hero {
        min-height: 780px;
    }

    .wrap .img {
        top: 30vh;
        width: 60vw;
        left: calc(50% - 29vw);
    }

    .title {
        width: 100%;
        text-align: center;
    }

    .title :global(.text-white) {
        display: block;
        width: 100%;
        margin-bottom: -0.9em;
    }
}

@media (max-width: 540px) {
    .title {
        margin-bottom: 20vh;
    }

    .wrap .img {
        top: 50vh;
        width: 80vw;
        left: calc(50% - 39vw);
    }
}