.link {
    transition: .2s ease-in-out;
}

.name {
    transition: .2s ease-in-out;
    padding-right: 80px;
    background: rgb(var(--primary-rgb));
}

.name::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 0%;
    transition: .4s ease-in-out;
    background: rgb(var(--gray-rgb));
    z-index: -1;
    opacity: 0;
}

.hovered .name {
    padding-left: 40px;
}

.hovered .name::after {
    width: 100%;
    opacity: 1;
}

.title {
    position: absolute;
    top: calc(100% + 40px);
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.1);
    z-index: 1;
}