.button {
    bottom: 80px;
    position: absolute;
    left: calc(50% - 13px);
}

.icon {
    width: 25px;
    fill: rgb(var(--gray-rgb));
    transition: fill .2s ease-in-out;
    animation: 4s ease-in-out infinite both IconDrop;
}

@media (min-width: 984px) {
    .button:hover .icon {
        fill: rgb(var(--red-rgb));
    }
}

@keyframes IconDrop {
    0% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(0px);
    }
    90% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 1155px) {
    .button {
        bottom: 40px;
    }
}

@media (max-width: 984px) {
    .button {
        left: calc(50% - 12px);
    }

    .icon {
        width: 22px;
    }
}

@media (max-width: 730px) {
    .button {
        bottom: 35px;
    }
}