.wrap {
    z-index: 20;
    right: 80px;
    bottom: 80px;
    position: fixed;
}

.button {
    opacity: 1;
    border-radius: 50%;
    backdrop-filter: blur(1px);
    background: rgba(var(--primary-rgb), .2);
    transition: opacity 0.2s ease-in-out;
}

.icon {
    width: 160px;
    fill: rgb(var(--gray-rgb));
    transition: fill .2s ease-in-out;
    animation: 7s linear infinite both IconRotate;
}

@media (min-width: 984px) {
    .button:hover .icon {
        fill: rgb(var(--red-rgb));
    }
}

@keyframes IconRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1155px) {
    .wrap {
        bottom: 40px;
        right: 40px;
    }

    .icon {
        width: 140px;
    }
}

@media (max-width: 730px) {
    .wrap {
        bottom: 35px;
        right: 35px;
    }

    .icon {
        width: 120px;
    }

    :global(.footer-visible) .button {
        opacity: 0;
        pointer-events: none;
    }
    
    :global(.footer-visible) .wrap {
        pointer-events: none;
    }
}

@media (max-width: 600px) {
    .wrap {
        right: 20px;
    }
}