.list {
    --list-gap: 24vh;

    margin-top: calc(var(--list-gap) * -1);
    overflow: hidden;
}

.item {
    width: 100%;
    display: grid;
    gap: var(--column-gap);
    grid-template-columns: 5fr 2fr 5fr;
    padding-top: var(--list-gap);
}

.item.left .itemBox {
    grid-column: 1;
}

.item.right .itemBox {
    grid-column: 3;
}

.itemIcon {
    position: absolute;
    stroke-width: 4px;
    z-index: -1;
    top: 50%;
}

.itemIcon path:nth-child(2) {
    stroke: rgb(var(--gray-rgb));
}

.itemIcon path:nth-child(1) {
    stroke: var(--current-color);
}

.itemWrap {
    width: 100%;
    mask-size: contain;
    position: relative;
    padding-bottom: 115.64%;
    mask-repeat: no-repeat;
    mask-image: url(/polygon.svg);
    background: rgb(var(--gray-rgb));
}

.itemContent {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.itemBox {
    position: relative;
}

.itemBackground {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--current-color);
}

.item.next {
    --current-color: #3B82F6;
}

.item.react {
    --current-color: #149ECA;
}

.item.tsc {
    --current-color: #3178C6;
}

.item.tsc {
    --current-color: #3178C6;
}

.item.wp {
    --current-color: #028CB0;
}

.itemText {
    padding: 0 40px;
}

.itemTitle {
    padding: 0 20px;
    margin-bottom: 20px;
}

@media (max-width: 1155px) {
    .item {
        grid-template-columns: 5fr 1.5fr 5fr;
    }

    .itemTitle {
        padding: 0 15px;
    }

    .itemText {
        padding: 0 20px;
    }
}

@media (max-width: 984px) {
    .list {
        --list-gap: 10vh;
        margin-bottom: 3vh;
    }

    .item.left {
        grid-template-columns: 6fr 4fr;
    }
    
    .item.right {
        grid-template-columns: 4fr 6fr;
    }

    .item.right .itemBox {
        grid-column: 2;
    }
}

@media (max-width: 600px) {
    .item.left {
        grid-template-columns: 7fr 3fr;
    }
    
    .item.right {
        grid-template-columns: 3fr 7fr;
    }
}

@media (max-width: 540px) {
    .item.left,
    .item.right {
        grid-template-columns: 1fr;
    }

    .item.right .itemBox {
        grid-column: 1;
    }
}