$color-black: #000;
$color-dark: #121212;
$color-gray: #2B2B2B;
$color-thin: #A1A1A6;
$color-white: #fff;
$color-blue: #2C97FF;

$media-2k: 1920px;
$media-desktop: 1440px;
$media-tablet: 960px;
$media-less: 768px;